<div *ngIf="tagsArray" class="my-2 text-center">
  <span
    *ngFor="let tag of tagsArray"
    class="badge text-bg-secondary me-1"
    (click)="postFilter(tag)"
    >{{ tag | uppercase }}</span
  >
</div>
<div class="container">
  <div class="row g-1" *ngIf="allPostArray[0]">
    <div
      class="col-12 border border-dark px-0"
      *ngFor="let postAll of allPostArray"
    >
      <app-single-post [post]="postAll">
        <form class="m-1">
          <input
            type="text"
            class="form-control"
            name="titoloPost"
            [(ngModel)]="postAll.title"
          />
        </form>
      </app-single-post>
    </div>
  </div>
</div>
