<div
  class="p-1"
  [ngClass]="{
    'border border-primary border-3': post.active
  }"
>
  <h3>{{ post.title }}</h3>
  <p>{{ post.body }}</p>
  <p>{{ post.active ? "Attivo" : "Inattivo" }}</p>
  <p>
    <span
      appTagColor
      class="badge text-light me-1"
      *ngFor="let tag of post.tags"
      >{{ tag | uppercase }}</span
    >
  </p>
  <div class="d-flex justify-content-between">
    <a class="btn btn-primary" [routerLink]="['/post-details', post.id]"
      >Dettaglio</a
    >
    <button class="btn btn-warning" (click)="toggleForm()">Show Form</button>
  </div>
  <ng-content *ngIf="show"></ng-content>
</div>
