body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #853f24;
  font-size: 1.2rem;
  line-height: 1.65;
  margin: 0;
  text-align: center;
}

h2,
h3,
h6 {
  font-weight: bold;
}

/* MAIN */
main {
  padding: 2vw;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  margin: 1em 0;
  line-height: 1em;
}

/* NAV */

nav {
  background-color: #fef7e2;
  border-radius: 25%;
  width: 90vw;
  height: 90vw;
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2vw;
}

nav li {
  background-color: #ffdf7f;
  border-radius: 50px;
  font-weight: bold;
  flex-basis: 30vw;
  text-align: center;
  padding: 0.8em;
}

#li-grande {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: 70vw;
  height: 15vw;
  font-size: 1.2em;
}

nav img {
  width: 15%;
}

/* ARTICLE */

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.honey-card {
  width: 350px;
  height: 350px;
  background-color: #fef7e2;
  border-radius: 5%;
  text-align: center;
  padding-bottom: 1.2em;
  overflow: hidden;
  margin: 1vw;
}

.honey-card img {
  width: 100%;
  max-height: 55%;
}

.info-product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5em 0;
}

.product-name {
  font-weight: bold;
}

.product-details {
  font-size: 0.8em;
}

.honey-card button {
  background-color: #ffdf7f;
  color: #853f24;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  padding: 0.5em 3em;
}

/* SECTION */

section h3 {
  font-size: 2em;
  margin-top: 1em;
}

#articolo-miele {
  background-color: #fef7e2;
  padding: 3vw;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

section h6 {
  font-size: 1.5em;
  margin: 1em 0;
}

section p {
  margin: 1em 0;
}

section img {
  width: 100%;
  max-width: 612px;
}

@media screen and (min-width: 577px) {
  body {
    display: block;
  }

  main {
    text-align: left;
  }

  nav {
    width: 100vw;
    height: 15vw;
    border-radius: 0;
    display: block;
    padding: 3vw 0;
    font-size: 0.7em;
  }

  nav ul {
    flex-wrap: nowrap;
    padding: 0;
  }

  nav li {
    padding: 0.7em;
    border-radius: 25px;
    flex-basis: 12vw;
    height: 5vw;
    align-content: center;
  }

  #li-grande {
    justify-content: space-between;
    flex-basis: 15vw;
    height: 5vw;
    order: 1;
  }

  #penultimo-li {
    order: 2;
  }
  #ultimo-li {
    order: 3;
  }

  nav img {
    width: 5vw;
  }

  article {
    justify-content: space-around;
  }

  .honey-card {
    width: 40vw;
    /* height: 40vw; */
    max-width: 350px;
    max-height: 350px;
  }
}

@media screen and (min-width: 769px) {
  body {
    display: flex;
  }

  nav {
    height: 100vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: sticky;
    top: 0;
  }

  nav ul {
    flex-wrap: wrap;
    padding: 5%;
  }

  nav li {
    margin: 1em 0;
    flex-grow: 1;
    padding: 1.5em;
    border-radius: 50px;
  }

  #li-grande {
    order: 0;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 993px) {
  nav {
    width: 20vw;
  }

  nav li {
    margin: 1em 0;
    padding: 1.2em;
    border-radius: 50px;
  }

  section img {
    width: 50vw;
    height: 35vw;
  }

  #articolo-miele {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
  }

  #articolo-miele div {
    padding-left: 1em;
  }
}

@media screen and (min-width: 1201px) {
  nav {
    width: 15vw;
  }

  nav li {
    padding: 0.7em;
    border-radius: 50px;
  }
}
