/* PARTIAL BUTTONS */

$color-map: (
  primo: $colore-blu,
  secondo: $colore-arancio,
  terzo: $colore-verde,
);

@each $name, $value in $color-map {
  .btn-#{$name} {
    background-color: #{$value};
    color: $colore-testo;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 0.5em 1em;
    margin-right: 1em;
    font-weight: bold;
    font-size: $font-sm;
    &:hover {
      transform: scale(1.15);
    }
  }
}
