/* PARTIAL MIXINS */

@mixin floating($custom-shadow: none, $custom-border: none) {
  border-radius: 21%;
  box-shadow: $custom-shadow;
  border: $custom-border;
}

@mixin grid($itemsPerLine: 2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  img {
    flex-basis: calc(90% / $itemsPerLine);
  }
}
